body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heder
{
    background-color: white !important;
}

.logo
{
    height:120px;
    width:100%;
    background: transparent;
}
.loginbtn
{
    margin-left:600px;
   
    margin-top: 3px;
}
/********************************************our brands********************************************/
.brandsection
{
    height: 100vh;
}


.brand
{
    background-color:rgb(22, 22, 124) ;
    width:93%;
    height:100px;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content:center;
    align-items: center;
   
}
.brandtitle
{
    color: white;

}
.mySlides
{
    display: none;
}
